/* src/components/ui/Pagination.scss */
.pagination-container {
  display: flex;
  position: relative;
  align-items: center;
  padding: 16px;
  //border-top: 1px solid var(--border-color);
}

.pagination-info {
  margin-left: auto;
  font-size: 14px;
  color: #777;
}

.pagination-controls {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
}

.page-btn {
  border: 0px solid var(--border-color);
  background-color: #fff;
  color: #555;
  height: 32px;
  min-width: 32px;
  padding: 0 8px;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.2s ease;

  &:hover {
    background-color: #f4f4f4;
  }

  &.active {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    color: #fff;
  }

  &:disabled {
    color: #555;
    background-color: #fff;
    cursor: not-allowed;
  }
}